<ion-view view-title="Vecinos">
	<div class="bar bar-header bar-dark">
        <a ng-if="User.inicio != '0'" class="button button-icon button-clear ion-android-arrow-back" ui-sref="app.inicio">
        </a>
		<h1 class="title">Cambiar Mi Password</h1>
	</div>
	<ion-content  class="has-header" padding="false">
	<form ng-submit="add()" name="myForm" novalidate>
		<br>
		<div ng-if="User.inicio == '0'" class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<h5>Debe cambiar su password por ser primera vez que inicia sesion</h5>
		</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="form-group rowbottom">
                    <span>Nuevo Password</span>
                    <input ng-model="data.newpassword" ng-minlength="8" type="password" class="form-control input" ng-required="true">
                </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="form-group rowbottom">
                    <span>Repetir Password</span>
                    <input ng-model="data.reppassword" ng-minlength="8" type="password" class="form-control input" ng-required="true">
                </div>
			</div>
		</div>

        
		<div class="padding">
            <button type="submit" class="button button-block button-dark" ng-disabled="myForm.$invalid">
            	<i class="icon ion-android-done"></i>
            </button>
        </div>
	</form>
	</ion-content>
</ion-view>
