<ion-view view-title="Servicios">
	<div class="bar bar-header bar-dark">
        <a class="button button-icon button-clear ion-android-arrow-back" ng-click="servicios()">
        </a>
		<h1 class="title">Informacion del Servicio</h1>
	</div>
	<ion-content  class="has-header" padding="false">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="form-group rowbottom">
            <span>Titulo</span>
            <p style="color: #8a8aaa; text-align: justify;">{{servicio2.titulo}}</p>
        </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="form-group rowbottom">
            <span>Descripci&oacute;n</span>
            <p style="color: #8a8aaa;" ng-bind-html="servicio2.descripcion"></p>
        </div>
			</div>
		</div>		
		<div class="padding">
            <center>
            <img style="width: 100%;" src="http://ihomeapp.net/imagenes/{{servicio2.imagen}}">
		    </center>
		</div>   

		<div ng-if="inte == false">
      <form ng-submit="add()" name="myForm" novalidate>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 top20"> 
          <div class="form-group rowbottom">
            <p>* Si le interesa el Servicio, y desea que lo contactemos indique un número telefonico de contacto en la siguiente casilla.</p>
            <br>
            <span>Informacion de Contacto</span>
            <input type="number"  name="data.informacion" placeholder="Ingrese número telefonico" class="form-control input" ng-required="true">
          </div>
        </div>
      </div>

        <div class="padding">
            <button type="submit" class="button button-block button-dark" ng-disabled="myForm.$invalid">
              <i class="icon ion-android-done"></i>
            </button>
        </div>

      </form>
    </div>

    <div class="row" ng-if="inte == true">
      <div class="col-md-12 col-sm-12">
        <div class="form-group rowbottom">
        <h3>Usted ya ha enviado sus datos de contacto, espere ser contactado por el Proveedor del Servicio.</h3>
        </div>
      </div>
    </div>
		 
    <br><br>
	</ion-content>
</ion-view>
